.paradas-css{
    color: rgb(161, 161, 161);
    font-weight: 400;
}
.produtividade-css{
    color: rgb(161, 161, 161);
    font-weight: 400;
}
.maquinas-css{
    color: rgb(161, 161, 161);
    font-weight:400;
}
.msg h2{
    color: rgb(199, 78, 78);
    font-family: 'Consolas';
    font-size: 1.5em;
}
.titulo{
    text-align: center;

}
.flex{
    gap: 1vmax;
    display: flex;
    
}

.row{
    display: block;
    width: 100%;
    text-align: start;
}
.col.s12{
    width: 100%;
    display: block  ;
    text-align: start;
    margin: 1em 0;;
}
.select-grupo{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}
.select-grupo label{
    position: relative;
    position: absolute;
    top: -1.8vmax;
    font-size: 0.7vmax;
}
.select-grupo select{
    font-size: 1.1vmax;
    border-bottom: 1px solid rgb(187, 187, 187);

}
.select-grupo select:active{
    transition: ease 1s;
}
* {
    box-sizing: border-box;
}
html, body {
    width: 100% !important;
    height: 100% !important;
    font-weight: bold;
}
header {
    position: relative;
    
}
header span {
        font-size: 2.3em;
    }
header img {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px 25px 0 0;
}
header .list .inline-list {
    display: inline;
    margin: 0 15px;
}
.input-field label.active, span {
    font-size: 1.4rem;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
h6 {
    font-size: 1.1em;
    color: #fff;
}
.light-blue.darken-2.right.btn.waves-effect.waves-light h6{
    color: #fff;
}
.light-blue.darken-2.right.btn.waves-effect.waves-light {
    display: flex;
    align-items: center;
    justify-content: center;

} 
.light-blue h6{
    color: #fff;
}
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  .logo-container{
    width: 150px;
    height: 150px;
  }