html{
    --tema-padrao: #0077FF;
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --bg-container: rgba(0, 0, 0, 0.1);
    --secundary-color: #FCFCFC;
    --color: rgba(0, 0, 0, 0.8);
    --color-headings: #0077FF;
    --color-text: #333333;
    --color-title: #262626;
}
body{
    background-color: var(--bg);
}
h1, h2, h3, h4, h5, h6, p, label, tr, td, th{
    color: var(--color-text);
}
.produtividade-css{
    color: #0b0525;
    font-weight: 600;
}
.maquinas-css{
    color: rgb(161, 161, 161);
    font-weight:400;
}
.paradas-css{
    color: rgb(161, 161, 161);
    font-weight:400;
}
.ultima-atualizacao{
    text-align: start;
    position: relative; 
    bottom: 1%; 
    left: 1%;
    color: #1d1d1d;
    font-size: 2.4vmax;
  }
.flex {
    display: flex;
    
}
.flex .item {
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    flex: 1;
}

.flex .grow0 {
flex-grow: 0;
}
.flex .grow1 {
flex-grow: 1;
}
div.container {
    font-weight: bold;
}
.canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}

.Gauge {
    padding: 10px;
}
.speedometer {
    background: rgb(0,106,255);
    background: radial-gradient(circle, rgba(0,106,255,1) 0%, rgba(0,84,255,1) 15%, rgba(21,91,245,1) 29%, rgba(0,106,255,1) 47%, rgba(19,120,255,1) 58%, rgba(21,130,255,1) 70%, rgba(50,145,255,1) 83%, rgba(42,141,255,1) 95%);
color: white; 
}
strong {
    font-size: 1.1vmax;
}
table {
    font-size: 1.4em;
    text-align: center;
}
#updateProduction{
    font-size: 2.5em;
    position: relative;
    margin: 0;}
.tabela_p tr td{
    text-align: center;
}
th {
    font-size:1.1em;
    
}
td {
    font-size:1.4em;
    font-weight: bold;
    text-align: center;
}

img {
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px 25px 0 0;
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
  @media(max-height: 480px)and(max-width: 640px ){
    img{
        margin-top: 0;
        width: 50px;
        height: 50px;
    }
    h1{
        margin-top: 0;
        font-size: 28px;        
    }    
    .center-align strong {
        font-size: 20px;
    }
    span {
        font-size: 20px;
    }
    th {
        font-size: 10px;
    }
    td {
        font-size: 13px;
    }
    .speedometer {
        background-color: #263743;
        color: white;
       
    }
    .speedometer strong {
        font-size: 15px;
    }
    .speedometer span {
        font-size: 15px;
    }
    .material-icons {
        font-size: 10px;
    }
    button {
        font-display: 16px;
    }
    #eficiencia {
        width: 50%;
    }
    #oee {
        width: 50%;
    }
    #utilizacao {
        width: 50%;
    }
    #refugo {
        width: 50%;
    }    
}
  @media(min-width: 641px)and(max-width: 800px ){
    img{
        margin-top: 0;
        width: 50px;
        height: 50px;
    }
    h1{
        margin-top: 0;
        font-size: 28px;        
    }    
    .center-align strong {
        font-size: 20px;
    }
    span {
        font-size: 20px;
    }
    th {
        font-size: 10px;
    }
    td {
        font-size: 13px;
    }
    .speedometer {
        background-color: #263743;
        color: white;
        
    }
    .speedometer strong {
        font-size: 15px;
    }
    .speedometer span {
        font-size: 15px;
    }
    .material-icons {
        font-size: 10px;
    }
    button {
        font-display: 16px;
    }
    #eficiencia {
        width: 61%;
    }
    #oee {
        width: 61%;
    }
    #utilizacao {
        width: 61%;
    }
    #refugo {
        width: 61%;
    }    
}
  @media(min-width: 801px)and(max-width: 854px ){
    img{
        margin-top: 0;
        width: 50px;
        height: 50px;
    }
    h1{
        margin-top: 0;
        font-size: 28px;        
    }    
    .center-align strong {
        font-size: 20px;
    }
    span {
        font-size: 20px;
    }
    th {
        font-size: 10px;
    }
    td {
        font-size: 13px;
        padding-right: 75px;
    }
    .speedometer {
        background-color: #263743;
        color: white;
        
    }
    .speedometer strong {
        font-size: 15px;
    }
    .speedometer span {
        font-size: 15px;
    }
    .material-icons {
        font-size: 10px;
    }
    button {
        font-display: 16px;
    }
    #eficiencia {
        width: 63%;
    }
    #oee {
        width: 63%;
    }
    #utilizacao {
        width: 63%;
    }
    #refugo {
        width: 63%;
    }    
}
  @media(min-height: 481px)and(max-height: 640px ){
    img{
        margin-top: 0;
        width: 50px;
        height: 50px;
    }
    h1{
        margin-top: 0;
        font-size: 28px;        
    }    
    .center-align strong {
        font-size: 20px;
    }
    span {
        font-size: 20px;
    }
    th {
        font-size: 15px;
    }
    td {
        font-size: 20px;
    }
    .speedometer {
        background-color: #263743;
        color: white;
        
    }
    .speedometer strong {
        font-size: 15px;
    }
    .speedometer span {
        font-size: 15px;
    }
    .material-icons {
        font-size: 10px;
    }
    button {
        font-display: 16px;
    }
    #eficiencia {
        width: 73%;
    }
    #oee {
        width: 73%;
    }
    #utilizacao {
        width: 73%;
    }
    #refugo {
        width: 73%;
    }    
}
@media(min-height: 641px)and(max-height: 750px ){
    img{
        margin-top: 0;
        width: 50px;
        height: 50px;
    }
    h1{
        margin-top: 0;
        font-size: 28px;        
    }    
    .center-align strong {
        font-size: 20px;
    }
    span {
        font-size: 20px;
    }
    th {
        font-size: 15px;
    }
    td {
        font-size: 20px;
    }
    .speedometer {
        background-color: #263743;
        color: white;
        
    }
    .speedometer strong {
        font-size: 15px;
    }
    .speedometer span {
        font-size: 15px;
    }
    .material-icons {
        font-size: 10px;
    }
    button {
        font-display: 16px;
    }
    #eficiencia {
        width: 73%;
    }
    #oee {
        width: 73%;
    }
    #utilizacao {
        width: 73%;
    }
    #refugo {
        width: 73%;
    }    
}